apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - secrets/install-config-sealed.yaml
  - secrets/vsphere-creds-sealed.yaml

namespace: dev

patches:
  - target:
      kind: ClusterDeployment
      name: base-cluster
    patch: |-
      - op: replace
        path: /metadata/name
        value: dev
      - op: replace
        path: /spec/clusterName
        value: dev
