# deploy-ocp/clusters/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - secrets/install-config-sealed.yaml
  - secrets/vsphere-creds-sealed.yaml
  # Adicione aqui os manifestos específicos que não estão na base:
  #  - managed-cluster.yaml
  #  - machine-pool.yaml

namespace: dev

# Forma moderna de fazer o patch (substitui o patchesJson6902)
patches:
  - target:
      kind: ClusterDeployment
      name: base-cluster # Nome que está no cluster-deploy-base.yaml
    patch: |-
      - op: replace
        path: /spec/clusterName
        value: dev
